<!DOCTYPE html>

<html>
<head>
    <title>Sign Up</title>
    <link href="/css/cusSignUp.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mask">
        <h3 class="text">Name</h3>
        <input title="Name" class="input" id="name" type="text" />

        <h3 class="text">Last name</h3>
        <input title="Last name" class="input" id="last-name" type="text" />

        <h3 class="text">Email</h3>
        <input title="Email" class="input" id="email" type="email" />

        <h3 class="text">Phone</h3>
        <input title="Phone" class="input" id="phone" type="tel" />

        <h3 class="text">Password</h3>
        <input title="Password" class="input" id="password" type="password" /><br />

        <input class="button" type="button" onclick="signUp()" value="Sign Up" />
    </div>

    <script src="/js/cusSignUp.js"></script>
</body>
</html>